In [1]:
import pandas as pd
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
col = df['Fare']
print(col)

0        7.2500
1       71.2833
2        7.9250
3       53.1000
4        8.0500
5        8.4583
6       51.8625
7       21.0750
8       11.1333
9       30.0708
10      16.7000
11      26.5500
12       8.0500
13      31.2750
14       7.8542
15      16.0000
16      29.1250
17      13.0000
18      18.0000
19       7.2250
20      26.0000
21      13.0000
22       8.0292
23      35.5000
24      21.0750
25      31.3875
26       7.2250
27     263.0000
28       7.8792
29       7.8958
         ...
857     11.5000
858     25.9292
859     69.5500
860     13.0000
861     13.0000
862     13.8583
863     50.4958
864      9.5000
865     11.1333
866      7.8958
867     52.5542
868      5.0000
869      9.0000
870     24.0000
871      7.2250
872      9.8458
873      7.8958
874      7.8958
875     83.1583
876     26.0000
877      7.8958
878     10.5167
879     10.5000
880      7.0500
881     29.1250
882     13.0000
883     30.0000
884     23.4500
885     30.0000
886      7.7500
Name: Fare, Length: 887, dtype: float64